.idea/
.idea/misc.xml
.idea/modules.xml
.idea/untitled1.iml
.idea/vcs.xml
__pycache__/app.cpython-37.pyc
__pycache__/getResults.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jntuh-marks-analytics.iml
venv