{% extends 'layout.html' %}
{% block body %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/css/main.css') }}">
    <div class="page-wrapper bg-img-2 p-t-290 p-b-120">
        <div class="wrapper wrapper--w1226">
            <div class="card card-5">
                <div class="card-body">
                    <form method="POST" action="/getlist">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">from</label>
                                    <input maxlength="10" minlength="10" class="input--style-1" type="text" name="start" placeholder="Starting Roll No Ex:17bk1a0560" required="required">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">to</label>
                                    <input maxlength="10" minlength="10" class="input--style-1" type="text" name="end" placeholder="Ending Roll No  Ex:17bk1a0580" required="required">
                                </div>
                            </div>
                        </div>

                            <div class="col-2">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group m-b-0">
                                            <label class="label">Select Result</label>
                                            <select class="input--style-1" type="text" name="result" id="input-end">
                                                <option value="">Choose Exam</option>
						<!--<option value="1454.17">III Year I Semister Regular(R18)</option>-->
                                                <option value="1437.17">II Year II Semister Regular(R18)</option>
                                                <option value="1442.17">III Year II Semister Regular(R16)</option>
						                        <option value="1404.17">I Year I Semister Regular(R18)</option>
                                                 <option value="1391.17">II Year I Semister Regular(R18)</option>
                                               <option value="1387.16">III Year I Semister Regular(R16)</option>
                                                <option value="1383.16">IV Year I Semister Regular(R16)</option>
					
                                            </select>
                                    </div>

                                    <div class="col-2">
                                        <button onclick="check()" class="btn-submit" type="submit">GO</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Main JS-->
 <script type="text/javascript" src="{{ url_for('static', filename = 'assets/libs/js/global.js') }}"></script>

<!-- end document-->
{% endblock %}
